header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

h1 {
    color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin-left: 20px;
    
}

.imgNav {
    height: 150px;
    margin-left: 15px;
}

